.header-section {
  position: relative;
  width: 100%;
  height: 300px;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__banner-img {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    width: 100%;
    max-width: 1160px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 15px 30px;
  }
}
